<!DOCTYPE html>

<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="CRM">
    <meta name="author" content="Ömer BODUR">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
    <!-- Start Logo Section -->
    <section id="logo-section" class="text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <a href="#">
                        <div class="logo text-center">
                            <h1>Firma İsmi<span>&nbsp;CRM</span></h1>
                            <span>@DateTime.Now.ToString("dd.MM.yyyy")</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- End Logo Section -->
    <div>
        @RenderBody()
    </div>
    <!-- Start Copyright Section -->
    <div class="copyright text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div>Design & Developed by <a href="http://www.omerbodur.com/" target="_blank">BODUR Ömer</a></div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Copyright Section -->
</body>
</html>
